# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite3
*.log

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3

# Static files
/static/
/media/

# Virtual environment
venv/
env/
.venv/
*.egg-info/

# Docker
*.log
*.pid
*.swp
.docker/
docker-compose.override.yml

# PyCharm
.idea/

# VS Code
.vscode/

# Local environment variables
.env

# Google Cloud Credentials
*.json
*.yaml
